@font-face {
    font-family: "Gangster Grotesk Bold";
    src: url("fonts/GangsterGrotesk-Bold.woff") format("woff")
}

@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono.woff") format("woff")
}

@font-face {
    font-family: "DejaVu Sans Mono Bold";
    src: url("fonts/DejaVuSansMono-Bold.woff") format("woff")
}

body {
    font-family: Georgia, serif;
    max-width: 772px;
    margin-left: 20%;
}

h1 {
    font-size: 250%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
    padding: 25px;
    background-color: whitesmoke;
}

h2 {
    font-size: 175%;
}

p ~ h2 {
    margin-top: 30px;
}

h3 {
    font-size: 125%;
}

h2, h3 {
    padding-left: 5%;
    color: crimson;
}

h1, h2, h3 {
    font-family: "Gangster Grotesk Bold";
}

a:link {
    color: mediumblue;
}

a:visited {
    color: cornflowerblue;
}

p code {
    font-family: "DejaVu Sans Mono";
    font-size: .9em;
    line-height: 1.5em;
    background: whitesmoke;
    display: block;
    white-space: pre-line;
    padding: 1% 8% 5%;
    margin-top: 12px;
    border-radius: 25px;
}

p > span > code {
    display: inline;
    border-radius: 5px;
    padding: 5px 7px 3px 7px;
    margin-right: 3px;
}

p {
    font-size: 1.4em;
    line-height: 1.8em;
}

blockquote {
    line-height: 1.6em;
    max-width: 80%;
    background-color: aliceblue;
    padding: 10px 8px 0px 12px;
    font-style: oblique;
    font-size: 1.6em;
}

.comment {
    font-family: "DejaVu Sans Mono Bold";
}
